<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Content</title>
    
    <!-- Add the link to the Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- Vue.js 3 CDN -->
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">
        <!-- Vue.js template will be rendered here -->
        <div v-for="qn of questions">
            <h1>{{qn.number}}. {{qn.question}}</h1>
            <p v-for="ans in qn.answers"><input type="radio" :value="ans" :name="qn.number" required>{{ans}}</p>

        </div>
        Hello World
    </div>
        
    <script src="test-content.js"></script>
</body>
</html>
